$cor-primaria: #713FED;
$cor-secundaria: #2c82c9;
$cor-terciaria: #ddd;
$cor-clara: #fafafa;
$cor-sucesso: #2ecc71;
$cor-erro: #f03434;
$fonte-padrao: 'Raleway', sans-serif;
$raio-borda-arredondada: .2em;
$transicao-padrao: all .4s cubic-bezier(0.4, 0, 1, 1);