@import '../../sass/variaveis';

.card-pessoa {
    background-color: #fff;
    padding: 1.8em 1.5em;
    line-height: 1.5em;
    margin-bottom: 1em;
    border-radius: $raio-borda-arredondada;
    border: 1px solid $cor-terciaria;
    box-shadow: rgba(0,0,0,.05) 0 2px 4px 0;
    transition: $transicao-padrao;
}

.card-pessoa:hover {
    border-color: $cor-primaria;
}

.nome {
    color: $cor-primaria;
    font-weight: 700;
    font-size: 1.2em;
}
